@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    margin: auto; 
}

.header .container { /*somente o css do container que esteja dentro do header. Os outros containers não são modificados*/
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 127, 230);
    align-items: center;
    padding: 17px 0;
} 

.navbar{
    display: flex;
    margin-right: 70px;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    font-family: 'Questrial', sans-serif;
}

.header a{
    font-size: 20px;
    margin-left: 70px;
    text-decoration: none;
    color: #ffffff;
}

.header a:hover{
    opacity: 0.7;
}


/*PÁGINA INICIAL*/

/*BOAS VINDAS*/
.container_boasvindas{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 200px;
}

.container_boasvindas h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.boasvindas_conteudo{
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}

.boasvindas_texto{
    font-size: 20px;
    width: 30%;
    text-align: justify;
}


.boasvindas_texto p{
    font-size: 22px;
    align-self: center;
}

.boasvindas_img{
    height: 500px;
    width: 700px;
}

.boasvindas_img img{
    height: 100%;
    width: 700px;
    margin-left: 30px;
    border-radius: 20px;
}
/*FIM BOAS VINDAS*/


/*ORIGENS*/
.container_origens{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 1000px;
    margin-bottom: 200px;
    background-color: rgb(49, 127, 230);
}


.origens_conteudo{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}


.origens_imgs{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.origens_imgs img{
    height: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.origens_texto{
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    text-align: justify;
}

.origens_texto p{
    font-size: 25px;
}
/*FIM ORIGENS*/

/*INÍCIO MODERNIDADE*/
.container_modernidade{
    margin-bottom: 100px;
}

.modernidade_conteudo{
    display: flex;
    flex-direction: column;
}

.modernidade_titulo{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 5px;
}

.modernidade_titulo h1 {
    background-color: rgb(156, 153, 153);
}

.modernidade_lutas{
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-template-rows: repeat(2, auto);   /* 2 linhas automáticas */
    gap: 10px; /* espaçamento opcional entre as divs */

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(76, 150, 125);
}

.modernidade_lutas img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.modernidade_lutas p{
    font-size: 15px;
    text-align: center;
}

.arte_marcial{
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
}

/*FIM MODERNIDADE*/


/*TORNEIOS*/
.container_torneios{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    margin-bottom: 200px;
    background-image: url(imgs/banner_2.jpg);
    background-size: cover;
    background-position: center;
}

.container_torneios h1{
    color: white;
}


.torneio_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.torneio_conteudo img{
    height: 450px;
    width: 450px;
    border-radius: 15px;
}


.torneio_conteudo p{
    font-size: 20px;
    padding: 30px;
    background-color: rgb(177, 170, 170);
    border-radius: 20px;
}

.torneio_1{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_1_img{
    height: 500px;
    width: 400px;
}

.torneio_1_texto{
    font-size: 20px;
    width: 50%;
    text-align: justify;
}


.torneio_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_2_img{
    height: 500px;
    width: 450px;
}

.torneio_2_texto{
    font-size: 20px;
    width: 55%;
    text-align: justify;
}

.torneio_3{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_3_img{
    height: 500px;
    width: 400px;
}

.torneio_3_texto{
    font-size: 20px;
    width: 50%;
    text-align: justify;
}


/*FIM TORNEIOS*/

/*LUTADORES*/
.container_lutadores{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 200px;
    background-color: aqua;
}

.lutadores_conteudo{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.lutador{
    display: flex;
    text-align: center;
    flex-direction: column;

}

.lutador_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_lutador img{
    padding: 20px;
    background-color: rgb(20, 214, 188);
}

.lutador img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.lutador p{
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

/*FIM LUTADORES*/

/*FOOTER*/
.footer{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    font-size: 15px;
    position: absolute;
    width: 97.5%;
    color: white;
    text-align: center;

    background-color: rgb(58, 58, 58);
    padding: 20px;
}

.autor{
    display: flex;
    justify-content: center;
}

.redes_sociais{
    display: flex;
    justify-content: left;
    margin-left: 10px;
}

/*FIM FOOTER*/

/*FIM PÁGINA INICIAL*/