@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.container{
    display: flex;
    width: 100%;
    margin: auto; 
}

.header .container { /*somente o css do container que esteja dentro do header. Os outros containers não são modificados*/
    display: flex;
    justify-content: space-between;
    background-color: rgb(49, 127, 230);
    align-items: center;
    padding: 17px 0;
} 

.navbar{
    display: flex;
    margin-right: 70px;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    font-family: 'Questrial', sans-serif;
}

.header a{
    font-size: 20px;
    margin-left: 70px;
    text-decoration: none;
    color: #ffffff;
}

.header a:hover{
    opacity: 0.7;
}


/*PÁGINA INICIAL*/

/*BOAS VINDAS*/
.container_boasvindas{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 200px;
}

.container_boasvindas h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.boasvindas_conteudo{
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}

.boasvindas_texto{
    font-size: 20px;
    width: 30%;
    text-align: justify;
}


.boasvindas_texto p{
    font-size: 22px;
    align-self: center;
}

.boasvindas_img{
    height: 500px;
    width: 700px;
}

.boasvindas_img img{
    height: 100%;
    width: 700px;
    margin-left: 30px;
    border-radius: 20px;
}
/*FIM BOAS VINDAS*/


/*ORIGENS*/
.container_origens{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 500px;
}

.origens_conteudo{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.origens_imgs{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 500px;
}

.origens_imgs img{
    border-radius: 15px;
}

.origens_texto{
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    text-align: justify;
}

.origens_texto p{
    font-size: 25px;
}
/*FIM ORIGENS*/
/*

.container_modernidade{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 200px;
}
.modernidade_conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.modernidade_imgs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 650px;
    width: 600px;
}

.modernidade_imgs img{
    height: 700px;
    width: 170px;
}


.modernidade_texto{
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    text-align: justify;
}


.modernidade_texto p{
    font-size: 25px;
}
*/


/*TORNEIOS*/
.container_torneios{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    margin-bottom: 200px;
}

.torneio_conteudo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.torneio_conteudo img{
    height: 450px;
    width: 450px;
    border-radius: 15px;
}

.torneio_conteudo p{
    font-size: 20px;
}

.torneio_1{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_1_img{
    height: 500px;
    width: 400px;
}

.torneio_1_texto{
    font-size: 20px;
    width: 50%;
    text-align: justify;
}


.torneio_2{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_2_img{
    height: 500px;
    width: 450px;
}

.torneio_2_texto{
    font-size: 20px;
    width: 55%;
    text-align: justify;
}

.torneio_3{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: justify;
    justify-content: space-around;
    margin-bottom: 100px;
}

.torneio_3_img{
    height: 500px;
    width: 400px;
}

.torneio_3_texto{
    font-size: 20px;
    width: 50%;
    text-align: justify;
}


/*FIM TORNEIOS*/

/*LUTADORES*/
.container_lutadores{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    margin-bottom: 200px;
    background-color: aqua;
}

.lutadores_conteudo{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.lutador{
    display: flex;
    text-align: center;
    flex-direction: column;

}

.lutador_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lutador img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.lutador p{
    width: 50%;
    text-align: justify;
}

/*FIM LUTADORES*/

/*FIM PÁGINA INICIAL*/