@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #f0f2f5;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    margin: auto; 
}

.header .container { /*somente o css do container que esteja dentro do header. Os outros containers não são modificados*/
    display: flex;
    justify-content: space-between;
    background-color: #1864C7;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 17px 0;
} 

.navbar{
    display: flex;
    margin-right: 70px;
    align-items: center;
    justify-content: space-between;
    list-style: none;

    font-family: 'Questrial', sans-serif;
}

.header a{
    font-size: 20px;
    margin-left: 70px;
    text-decoration: none;
    color: #ffffff;
}

.header a:hover{
    opacity: 0.7;
}


/*CADASTRO E LOGIN*/
#a_login{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    color: rgb(49, 127, 230);
}

.container_cadastro {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(banner_cadastro.png);
    background-position: center;
    background-size: cover;
}

.container_cadastro h2{
    margin-bottom: 40px;
    font-size: 50px;
    color: white;
    background-color: #317fe6;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 20px;
}

.formulario {
    background-color: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.campo h4 {
    margin-bottom: 8px;
    color: #333;
    font-size: 20px;
}

.campo input {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    font-size: 18px;
    transition: border 0.3s ease;
}

.campo input:focus {
    outline: none;
    border-color: #317fe6;
    box-shadow: 0 0 5px rgba(49, 127, 230, 0.3);
}

.div_btn_cadastrar{
    display: flex;
    justify-content: center;
}

#btn_cadastrar{
    text-decoration: none;
    border: none;
    align-self: center;
    background-color: #317fe6;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

#btn_cadastrar:hover{
    cursor: pointer;
    opacity: 80%;
}

/*FIM CADASTRO E LOGIN*/




/*PÁGINA INICIAL*/

/*BOAS VINDAS*/
.container_boasvindas{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
}

.container_boasvindas h1{
    margin-top:45px;
    font-size: 50px;
    margin-bottom: 20px;
}

.boasvindas_conteudo{
    display: flex;
    padding-top: 50px;
    flex-direction: row;
    justify-content: space-evenly;
}

.boasvindas_texto{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    width: 30%;
    text-align: justify;
}


.boasvindas_texto p{
    font-size: 22px;
    align-self: center;
}

.boasvindas_img{
    height: 500px;
    width: 700px;
}

.boasvindas_img img{
    height: 100%;
    width: 700px;
    margin-left: 30px;
    border-radius: 20px;
}
/*FIM BOAS VINDAS*/


/*ORIGENS*/
.container_origens{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 1000px;
    margin-bottom: 60px;
    background-color: rgb(49, 127, 230);
}


.origens_conteudo{
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}


.origens_imgs{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.origens_imgs img{
    height: 300px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.origens_texto{
    display: flex;
    height: 100%;
    width: 45%;
    align-items: center;
    text-align: justify;
}

.origens_texto p{
    font-size: 25px;
}
/*FIM ORIGENS*/

/*INÍCIO MODERNIDADE*/

.modernidade_conteudo{
    display: flex;
    flex-direction: column;
}

.modernidade_titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}

.modernidade_titulo h1 {
    background-color: rgb(49, 127, 230);
    border-radius: 20px;
    font-size: 50px;
    padding: 20px;
    width: 50%;
}

#veja_as_tecnicas{
    font-size: 30px;
}

.modernidade_lutas{
    display: grid;
    margin-top: 50px;
    text-align: center;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-template-rows: repeat(2, auto);   /* 2 linhas automáticas */
    gap: 10px; /* espaçamento opcional entre as divs */

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(49, 127, 230);
}

.modernidade_lutas img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

.modernidade_lutas p{
    font-size: 15px;
    text-align: center;
}

.arte_marcial{
    background-color:#639EEC;
    padding: 10px;
    border-radius: 20px;
}

/*FIM MODERNIDADE*/


/*TORNEIOS*/
.container_torneios{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: black;
}

.container_torneios h1{
    color: white;
    font-size: 50px;
}

#h1_principais_torneios{
    color: white;
}


.torneio_conteudo{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.torneio_conteudo img{
    height: 450px;
    width: 450px;
    border-radius: 15px;
}

.txt_torneio{
    display: flex;
    width: 40%;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    color: white;
    font-size: 18px;
    margin-left: 50px;
}

.imgs_torneios{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.imgs_torneios img{
    height: 70%;
    width: 25%;
}


/*FIM TORNEIOS*/

/*LUTADORES*/
.container_lutadores{
    font-family: 'Questrial', sans-serif;
    text-align: center;
    justify-content: center;
    height: 700px;
    background-color: aqua;
}

.lutadores_conteudo{
    display: flex;
    flex-direction: row;
    height: 300px;
}

.lutador{
    display: flex;
    text-align: center;
    flex-direction: column;

}

.lutador_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img_lutador img{
    padding: 20px;
    background-color: rgb(20, 214, 188);
}

.lutador img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.lutador p{
    width: 50%;
    font-size: 20px;
    text-align: justify;
}

/*FIM LUTADORES*/

/*FOOTER*/
.footer{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    font-size: 15px;
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding: 20px;
}

.autor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes_sociais{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    width: 10%;
}

/*FIM FOOTER*/

/*FIM PÁGINA INICIAL*/



/*MINI GAME*/

/*SELEÇÃO DE PERSONAGEM*/
.container_minigame{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    width: 100%;

    background-image: url(imgs/banner_1);
    background-size: 100%;
    background-repeat: no-repeat;
}

#p_lutador_sorteado{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}

#p_lutador_escolhido{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
}


.selecao{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.selecao select{
    margin-bottom: 20px;
}

.selecao button{
    margin-bottom: 20px;
    border: none;
    color: white;
    background-color: rgb(50, 50, 207);
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.selecao button:hover{
    opacity: 80%;
    cursor: pointer;
}

.selecao button:active{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0);
}

.selecao img{
    height: 400px;
    width: 400px;
    background-color: coral;
    border-radius: 10px;
}

.container_vencedor{
    display: flex;
    justify-content: center;

}

.container_vencedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.container_vencedor h2{
    font-size: 30px;
}



/*FIM SELEÇÃO PERSONAGEM*/


/*FIM MINI GAME*/



/*SOBRE MIM*/
.sobre_mim_container{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(banner_eu.jpg);
    background-size: cover;

}

#span_mim{
    color: red;
}

.frase_eu{
    margin-left: 200px;
    background-color: rgb(207, 204, 204);
    padding: 20px;
    border-radius: 10px;
    opacity: 70%;
}

.frase_eu h3{
    font-size: 35px;
    font-style: italic;
}

.sobre_mim_conquista{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;

}

.conquista_texto{
    text-align: center;
    width: 50%;
}

.conquista_texto h2{
    font-size: 60px;
}


.conquista_texto p{
    font-size: 30px;
}

.sobre_mim_atributos{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
    grid-template-rows: repeat(2, auto);   /* 2 linhas */
    gap: 20px; /* espaço entre as divs */
    padding: 20px;
}

.atributo{
    background-color: rgb(48, 158, 231);
    border-radius: 15px;
    width: 80%;
    padding: 20px;
}

.img_titulo_atributo{
    display: block;
}

.img_titulo_atributo img{
    height: 50px;
    width: 50px;
}

.div_peso {
    height: 120vh;
    width: 100%;
}

.div_peso img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block; /* importante para tirar espaços brancos indesejados */
}

.fim_sobre_mim{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/banner_sobre_mim_final.jpg);
    background-repeat: no-repeat;
    background-size: 100% 130%;
    background-position: center;
    height: 30vh;

}

.fim_sobre_mim h2{
    font-size: 40px;
    color: white;

}

/*FIM SOBRE MIM*/